<html xmlns:form="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>Bank</title>
</head>
<body>
<h2> Registration to Bank1</h2>
    <br>
<form th:action="@{/lkk}" th:object="${user}" method="get">


    Your login: <label>
    <input type="text" th:field="*{username}"/>
</label>
    <form th:errors path="username"></form>
        <br><br>

    Your password: <label>
    <input type="text" th:field="*{password}"/>
</label>
    <form th:errors path="password"></form>
        <br><br>

    <input type="submit" value="Registration">
</form>
</body>
</html>
