<html xmlns:form="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>Bank</title>
</head>
<body>
<h2> Registration to Bank1</h2>
    <br>
<form th:action="@{/bank/lkk_registration}" th:object="${userReg}" method="get">

    Your login:
    <label>
        <input type="text" th:field="*{username}" />
        <div th:errors="*{username}"></div>
    </label>

    <br><br>

    Your password:
    <label>
        <input type="text" th:field="*{password}"/>
        <div th:errors="*{password}"></div>
    </label>

    <br><br>

    <button type="submit">Registration</button>
</form>
</body>
</html>
