<html lang="">
<head>
    <title>Bank1</title>
</head>
<body>
<h2> LKK Bank </h2>
<h3 th:text="'Текущий баланс составляет: ' + ${user.balance} + ' рублей'"></h3>
<br>

<h4> Показать операции по счету </h4>
<button onclick="location.href='transactionPut'">  Пополнение   </button>
<button onclick="location.href='transactionTakeOff'">  Снятие со счета  </button>
<button onclick="location.href='transactionAll'">  Все  </button>
<br>

<br>
<button onclick="location.href='transaction'"> Провести транзакцию </button>
<button onclick="location.href='profile'"> Профиль </button>
<button onclick="location.href='/bank'"> Выход </button>

</body>
</html>
